.row {
    margin-left:0;
    margin-right:0;
}

.row .sp {
    min-height:170px;
    margin-bottom:10px;
    border-bottom:3px #eee solid;
}

.editor {
    border-right:3px #eee solid;
}

.pane-label {
    position: absolute;
    z-index: 99;
    padding: 0;
    font-size: 80%;
    opacity: .4;
    right: 15px;
    bottom: 15px;
    margin: 0;
}

@media (max-width: 939px) {

    .row .sp {
        width:48.62% !important;

    }

}

@media (max-width: 767px) {

    .row .sp {
        width:100% !important;
        height:auto !important;
    }

}

@media (max-width: 1200px) {
    .row .sp {
        width:49.62% !important;

    }
}

@media (max-width: 767px) {

    .row .sp {
        width:100% !important;
        height:auto !important;
    }

}

.cont {
    width:100%;
}


.inner {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }